<!--Footer-->
<div class="container-fluid d-flex justify-content-end fixed-bottom"
     style="position: fixed;
            bottom: 0px;
            line-height: 20px;
            background-color: transparent;
            border-top-color: lightgray;
            border-width: 1px;
            border-top-style: solid;
            font-size:smaller">
    &copy; Copyright, @DateTime.Now.Year All Rights Reserved by&nbsp;<a href="">Sebs Inc.</a>
</div>
