<nav class="navbar navbar-expand-sm navbar-toggleable-sm shadow-sm bg-transparent border-bottom border-white py-0 px-2 fixed-top"
     style="height:40px;">

    <div id="navbar-links-collapsed" class="collapse navbar-collapse bg-info ">
        <ul class="navbar-nav mr-auto container">
            <li class="nav-item active">
                <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Index">Home</a>
                <a class="btn btn-primary m-1" asp-controller="Books" asp-action="Create">Add Book</a>
            </li>
        </ul>
    </div>
</nav>